@model DialogueStore.Models.Location

@{
    ViewBag.Title = "Delete Location";
}

<div class="container">

    <div class="row">
        <h2 class="page-header">Delete Location</h2>
    </div>

    <div class="row">
        <p class="lead">Are you sure you want to delete this?</p>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Location</div>
            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <tr>
                        <td>@Html.DisplayNameFor(f => f.Name)</td>
                        <td>@Html.DisplayFor(f => f.Name)</td>
                    </tr>
                </table>
            </div>
        </div>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Delete" />
                |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
    </div>
</div>
