@helper PageHeader(string title) {
    <h2 class="page-header">@title</h2>
}

@helper PageHeader(string title, string subtitle) {
    <h2 class="page-header">@title <small>@subtitle</small></h2>
}

@functions
{
    public static string ApplicationVersion() {
        return System.Configuration.ConfigurationManager.AppSettings["abufm.app-version"].ToLowerInvariant();
    }

}

@helper Html5Shim() {
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
}