@{
    ViewBag.Title = "Home";
}


<div class="jumbotron">
    <h1 style="font-family: armwrestlerbold">Store Manager</h1>
    <p class="lead">Dialogue Girls Computer Secondary School</p>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h3>Track Conditions</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Track Locations</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Generate Reports</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            </p>
        </div>
    </div>


</div>
