@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_Landing.cshtml";
}


<div class="jumbotron" style="background-color: darkorange; color: white; background-image: url('../../Content/wallpaper_4.jpg');">
    <div style="margin-top: 60px; margin-bottom: 60px">
        <img src="~/Content/DGCSS Logo.png" alt="Logo" class="pull-right" height="198" />
        <h1 class="animated flip" style="font-family: armwrestlerbold">@HTML.GetAppName()</h1>
        <p class="lead">Dialogue Girls Computer Secondary School</p>

        <p>
            <a href="@Url.Action("Login", "Account")" class="btn btn-success col-md-3">Sign in to continue</a>
        </p>
    </div>
</div>

<div>
    <div class="container">

        <img src="~/Content/logo.jpg" alt="Logo" class="pull-left" height="198" />
        <h2>Fully Secured</h2>
        <p class="lead">Store Manager guarantees that only authorized users can perform operations like adding new entries, recording stock movements and viewing senstive logs.</p>
        <p>Everything is configurable. The User Administrative Console allows users with Administrative accounts to set up and modify user accounts.</p>
    </div>

    <hr class="shadowed" />
</div>

<div>
    <div class="container">
        <img src="~/Content/logo.jpg" alt="Logo" class="pull-right" height="198" />
        <h2>Reliable & Fast</h2>
        <p class="lead">Store Manager guarantees that only authorized users can perform operations like adding new entries, recording stock movements and viewing senstive logs.</p>
        <p>Store Manager guarantees that only authorized users can perform operations like adding records, recording stock movements and viewing senstive logs. The User Administrative Console allows users with Administrative accounts to set up and modify user accounts.</p>
    </div>

    <hr class="shadowed" />
</div>

<div>
    <div class="container">
        <img src="~/Content/logo.jpg" alt="Logo" class="pull-left" height="198" />
        <h2>Fully Secured</h2>
        <p class="lead">Store Manager guarantees that only authorized users can perform operations like adding new entries, recording stock movements and viewing senstive logs.</p>
        <p>Store Manager guarantees that only authorized users can perform operations like adding records, recording stock movements and viewing senstive logs. The User Administrative Console allows users with Administrative accounts to set up and modify user accounts.</p>
    </div>
    <hr class="shadowed" />
</div>

